body {
  background: #002D72;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.App {
  text-align: center;
}

.display {
  display: flex;
  justify-content: center;
}

.count-cont {
  padding: 20px;
}

.count {
  background: #D50032;
  width: 30px;
  margin-right: auto;
  margin-left: auto;
}

.buttons button {
  width: 50px;
  margin: 5px;
  padding: 5px;
  font-weight: bold;
  font-size: 14px;
}